.header {
    color: orange ;
    background-color: black ;
    margin-bottom: 0 ;
    text-align: center ;
    width: 100% ;
    /* # height:  */
}
html, body {
    margin: 0 0 0 0 ;
    width: auto;
}
.movie-list {
    top: 0 ;
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-between ;
    background-color: orange ;
    width: auto ;
}
.img-container {
    flex: 0 ;
    padding-top: 1.5em ;
    height: 20em ;
    padding-left: 1.5em ;
    padding-right: 1.5em ;
}
img{
    height: 16em ;
    width: 10em ;
}
p {
    text-align: center ;
}
  